/* Variables */
:root {
  /* Primary Colors */
  --color-blue: hsl(246, 80%, 60%);
  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);
  --color-blue-dark: hsl(246, 80%, 20%);
  --color-work-dark: hsl(15, 100%, 20%);
  --color-play-dark: hsl(195, 74%, 20%);
  --color-study-dark: hsl(348, 100%, 20%);
  --color-exercise-dark: hsl(145, 58%, 20%);
  --color-social-dark: hsl(264, 64%, 20%);
  --color-self-care-dark: hsl(43, 84%, 20%);

  /* Neutral Colors */
  --color-gray: hsl(0, 0%, 70%);
  --color-dark-gray: hsl(0, 0%, 40%);
  --color-darker-gray: hsl(0, 0%, 20%);
  --color-very-dark-blue: hsl(226, 43%, 20%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);
  --color-white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-family-normal: "Rubik", sans-serif;
  --font-size-normal: 18px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* Time */
  --time-transition: 0.3s;
  --time-background-card-transition: 1s;
}

/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-normal);
}

/* Base Font */
html {
  font-size: var(--font-size-normal);
}

/* General Elements */
.button {
  padding: 8px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-pale-blue);
  background-color: transparent;
  border: 2px solid var(--color-pale-blue);
  border-radius: 16px;
  cursor: pointer;
  transition-property: color background-color border-color;
  transition-duration: var(--time-transition);
}

.button:hover {
  background-color: var(--color-pale-blue);
  color: var(--color-very-dark-blue);
}

.button:focus {
  outline: none;
  border-color: var(--color-white);
}
